{% extends "base.html" %}

{% block start %}

<section>
  <div class="container">
    <div class="row">
      <div class="col-xl-8 col-lg-10 mx-auto">           
        <!-- Description Section -->
        <p class="py-3 mb-5 text-muted text-center font-weight-light">
          <!-- Removed part: January 16, 2016 in <a class="font-weight-bold" href="blog.html">Living</a>
          <span class="mx-1">|</span>
          <a class="text-muted" href="#">2 comments</a> -->
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-10 mx-auto text-center"> <!-- Center the image -->
        <!-- Image Section -->
        <img class="img-fluid mb-5" src="/media/{{ blog_obj.image }}" alt="">
      </div>
    </div>
    <div class="row text-center">
      <div class="col-xl-8 col-lg-10 mx-auto">  
        <!-- Content Section -->
        <div class="text-content">
          {{ blog_obj.content|safe }}
        </div>                             
      </div>
    </div>
  </div>
</section>

{% endblock %}
